bin/
target/
.settings/
*.eclipse.*
target-eclipse/
/.classpath
/.project
/*/.classpath
/*/.project
/*/*/.classpath
/*/*/.project
/*/*/*/.classpath
/*/*/*/.project

*.bak
*.log

#ignore intellij files
*.iml
.idea

#local configurations
local.properties