<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
 		http://www.springframework.org/schema/beans 
 		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
 		http://www.springframework.org/schema/context 
 		http://www.springframework.org/schema/context/spring-context-3.0.xsd ">
 		
 	<!-- 复合业务服务 -->
 	<bean id="contactsBizService" class="com.litt.saap.personal.biz.impl.ContactsBizServiceImpl"/>	
 		
 	<!-- Note -->	
	<bean id="noteDao" class="com.litt.saap.personal.dao.NoteDao" parent="baseDao"/>		
	
	<bean id="noteService" class="com.litt.saap.personal.service.impl.NoteServiceImpl"/>	
	
	<!-- Todo -->	
	<bean id="todoDao" class="com.litt.saap.personal.dao.TodoDao" parent="baseDao"/>		
	
	<bean id="todoService" class="com.litt.saap.personal.service.impl.TodoServiceImpl" parent="baseService"/>	
	
	<!-- Calendar -->	
	<bean id="calendarDao" class="com.litt.saap.personal.dao.CalendarDao" parent="baseDao"/>		
	
	<bean id="calendarService" class="com.litt.saap.personal.service.impl.CalendarServiceImpl"/>	
	
	<!-- Contacts -->	
	<bean id="contactsDao" class="com.litt.saap.personal.dao.ContactsDao" parent="baseDao"/>		
	
	<bean id="contactsService" class="com.litt.saap.personal.service.impl.ContactsServiceImpl"/>
	
	<!-- ContactsGroup -->	
	<bean id="contactsGroupDao" class="com.litt.saap.personal.dao.ContactsGroupDao" parent="baseDao"/>		
	
	<bean id="contactsGroupService" class="com.litt.saap.personal.service.impl.ContactsGroupServiceImpl"/>	
	
	<!-- ContactsGroupMember -->	
	<bean id="contactsGroupMemberDao" class="com.litt.saap.personal.dao.ContactsGroupMemberDao" parent="baseDao"/>	
	
</beans>
