<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>LITTCORE.CIDP</display-name>
  
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring/applicationContext-*.xml</param-value>
  </context-param>
  <context-param>
    <param-name>allowCircularReferences</param-name>
    <param-value>false</param-value>
  </context-param>
  
  <listener>
    <listener-class>
			org.springframework.web.util.IntrospectorCleanupListener
		</listener-class>
  </listener>
  
  <listener>
    <listener-class>
			com.litt.saap.core.web.listener.InitSystemListener
		</listener-class>
  </listener>
  
  <listener>
    <listener-class>
			com.litt.core.shield.web.listener.OnlineOperatorListener
		</listener-class>
  </listener>
  
	<!-- 用户自动登录过滤器 -->	
	<filter>
		<filter-name>userAutoLoginFilter</filter-name>
		<filter-class>
			com.litt.saap.core.web.filter.UserAutoLoginFilter
		</filter-class>				
	</filter>
	<filter-mapping>
		<filter-name>userAutoLoginFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>userAutoLoginFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>userAutoLoginFilter</filter-name>
		<url-pattern>*.json</url-pattern>
	</filter-mapping>		
	
	<!-- 用户会话线程绑定 -->
  <filter>
    <filter-name>userHttpSessionContextIntegrationFilter</filter-name>
    <filter-class>
			com.litt.core.shield.web.filter.OperatorHttpSessionContextIntegrationFilter
		</filter-class>
    <init-param>
      <param-name>sessionLoginObjName</param-name>
      <param-value>SESSION_USER</param-value>
    </init-param>
    <init-param>
      <param-name>excludeUrlPattern</param-name>
      <param-value>/index,/login,/message</param-value>
    </init-param>
    <init-param>
      <param-name>failRedirect</param-name>
      <param-value>/</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>userHttpSessionContextIntegrationFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>userHttpSessionContextIntegrationFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>userHttpSessionContextIntegrationFilter</filter-name>
    <url-pattern>*.json</url-pattern>
  </filter-mapping>
  
  <!-- 编码过滤器 -->
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>false</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- Sitemesh -->
  <filter>
    <filter-name>sitemesh</filter-name>
    <filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
    <init-param>
      <param-name>debug.pagewriter</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>sitemesh</filter-name>
    <url-pattern>*.jsp</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  
  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>
				/WEB-INF/applicationContext-servlet.xml,/WEB-INF/applicationContext-rest.xml
			</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <servlet-name>opLoginCaptchaServlet</servlet-name>
    <servlet-class>com.litt.core.web.servlet.LoginCaptchaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>opLoginCaptchaServlet</servlet-name>
    <url-pattern>/opCaptcha</url-pattern>
  </servlet-mapping>
  
  <servlet>
      <servlet-name>DruidStatView</servlet-name>
      <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>DruidStatView</servlet-name>
      <url-pattern>/druid/*</url-pattern>
  </servlet-mapping>
  
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  
  <error-page>
    <error-code>500</error-code>
    <location>/500.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  
  <welcome-file-list>
    <welcome-file>index.do</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <mime-mapping>
	<extension>doc</extension>
	<mime-type>application/vnd.ms-word</mime-type>
  </mime-mapping>

	<mime-mapping>
		<extension>xls</extension>
		<mime-type>application/msexcel</mime-type>
	</mime-mapping>

	<mime-mapping>
		<extension>ppt</extension>
		<mime-type>application/vnd.ms-powerpoint</mime-type>
	</mime-mapping>

	<mime-mapping>
		<extension>docx</extension>
		<mime-type>application/vnd.openxmlformats-officedocument.wordprocessingml.document</mime-type>
	</mime-mapping>

	<mime-mapping>
		<extension>pptx</extension>
		<mime-type>application/vnd.openxmlformats-officedocument.presentationml.presentation</mime-type>
	</mime-mapping>

	<mime-mapping>
		<extension>xlsx</extension>
		<mime-type>application/vnd.openxmlformats-officedocument.spreadsheetml.sheet</mime-type>
	</mime-mapping>  
  
  <mime-mapping>
    <extension>woff</extension>
    <mime-type>application/x-font-woff</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>ttf</extension>
    <mime-type>application/octet-stream</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>otf</extension>
    <mime-type>application/octet-stream</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>eot</extension>
    <mime-type>application/vnd.ms-fontobject</mime-type>
  </mime-mapping>
  
  <jsp-config>
    <taglib>
      <taglib-uri>http://www.littcore.com/core</taglib-uri>
      <taglib-location>/WEB-INF/tlds/litt-el.tld</taglib-location>
    </taglib>
    <jsp-property-group>
      <display-name>JSPConfiguration</display-name>
      <url-pattern>*.inc</url-pattern>
      <el-ignored>false</el-ignored>
      <page-encoding>UTF-8</page-encoding>
      <scripting-invalid>false</scripting-invalid>
      <include-prelude></include-prelude>
      <include-coda></include-coda>
    </jsp-property-group>
  </jsp-config>
</web-app>